button[value="red"] {
  background-color: red;
}

button[value="blue"] {
  background-color: blue;
}

button[value="green"] {
  background-color: green;
}

button[value="yellow"] {
  background-color: yellow;
}

button[value="orange"] {
  background-color: orange;
  animation: jump 4s;
}

button {
  height: 30px;
  width: 30px;
}

@keyframes jump {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.1;
  }
  30% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.5;
  }
  70% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.7;
  }
  90% {
    opacity: 0.8;
  }
  100% {
    opacity: 1
  }
}
